<mat-card>
  <table mat-table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let f"> {{f.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let f"> {{f.name}} </td>
    </ng-container>
  
    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let f"> {{f.price}} </td>
    </ng-container>
  
    <!-- Calories Column -->
    <ng-container matColumnDef="calories">
      <th mat-header-cell *matHeaderCellDef> calories </th>
      <td mat-cell *matCellDef="let f"> {{f.calories}} </td>
    </ng-container>
  
    <!-- Delete Column -->
    <ng-container matColumnDef="deleteItem">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let f" class="icon-cell">
        <a (click)="deleteFood(f)">
          <mat-icon class="mat-18" matTooltip="Delete">delete</mat-icon>
        </a>
      </td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="editItem">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let f" class="icon-cell">
        <a (click)="selectFood(f)">
          <mat-icon class="mat-18" matTooltip="Select">edit</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="selectFood(row)"
    ></tr>
    
  </table>
</mat-card>
